<form [formGroup]="form"
      class="do-not-print">
  <div class="form-group">
    <label for="description">{{ 'description' | translate }}</label>
    <input type="text"
           class="form-control"
           id="description"
           formControlName="description"
           [placeholder]="'description' | translate"
           required>
  </div>
  <div class="form-group">
    <label for="personResponsible">{{ 'personResponsible' | translate }}</label>
    <input type="text"
           class="form-control"
           id="personResponsible"
           formControlName="personResponsible"
           [placeholder]="'personResponsible' | translate"
           required>
  </div>
  <div class="form-group">
    <label for="purpose">{{ 'purpose' | translate }}</label>
    <input type="text"
           class="form-control"
           id="purpose"
           formControlName="purpose"
           [placeholder]="'purpose' | translate"
           required>
  </div>
  <div class="form-group">
    <label for="affectedGroups">{{ 'affectedGroups' | translate }}</label>
    <input type="text"
           class="form-control"
           id="affectedGroups"
           formControlName="affectedGroups"
           [placeholder]="'affectedGroups' | translate"
           required>
  </div>
  <div class="form-group">
    <label for="recipients">{{ 'recipients' | translate }}</label>
    <input type="text"
           class="form-control"
           id="recipients"
           formControlName="recipients"
           [placeholder]="'recipients' | translate"
           required>
  </div>
  <div class="form-group">
    <label for="thirdCountryDataTransfers">{{ 'thirdCountryDataTransfers' | translate }}</label>
    <input type="text"
           class="form-control"
           id="thirdCountryDataTransfers"
           formControlName="thirdCountryDataTransfers"
           [placeholder]="'thirdCountryDataTransfers' | translate"
           required>
  </div>
  <div class="form-group">
    <label for="dataDeletionPeriod">{{ 'dataDeletionPeriod' | translate }}</label>
    <input type="text"
           class="form-control"
           id="dataDeletionPeriod"
           formControlName="dataDeletionPeriod"
           [placeholder]="'dataDeletionPeriod' | translate"
           required>
  </div>
  <div class="form-group">
    <label for="resourcesUsed">{{ 'resourcesUsed' | translate }}</label>
    <input type="text"
           class="form-control"
           id="resourcesUsed"
           formControlName="resourcesUsed"
           [placeholder]="'resourcesUsed' | translate"
           required>
  </div>
  <button type="submit"
          class="btn btn-primary"
          (click)="save()"
          [disabled]="form.invalid">
    <span *ngIf="!selectedProcessingActivity">{{ 'create' | translate }}</span>
    <span *ngIf="selectedProcessingActivity">{{ 'update' | translate }}</span>
    &nbsp;
    <fa-icon [icon]="faCheck"></fa-icon>
  </button>
  <span *ngIf="selectedProcessingActivity">
    &nbsp;
    <button (click)="discard()"
            [disabled]="!changed"
            class="btn btn-warning"
            type="button">
      {{ 'discard' | translate }}
      <fa-icon [icon]="faUndo"></fa-icon>
    </button>
  </span>
  &nbsp;
  <button type="reset"
          class="btn btn-secondary"
          (click)="reset()">
    {{ 'reset' | translate }}
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</form>

<hr>

<p-table [columns]="columns"
         [value]="processingActivities"
         [totalRecords]="processingActivities ? processingActivities.length : 0"
         [loading]="loading"
         [lazy]="true"
         (onLazyLoad)="loadList()"
         selectionMode="single"
         dataKey="description"
         [(selection)]="selectedProcessingActivity"
         (onRowSelect)="onRowSelect()"
         (onRowUnselect)="onRowUnselect()">
  <ng-template pTemplate="header"
               let-columns>
    <tr>
      <th scope="col" *ngFor="let column of columns">
        {{ column.header }}
      </th>
      <th scope="col"
          class="do-not-print"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-rowData
               let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let column of columns">
        {{ rowData[column.field] }}
      </td>
      <td class="do-not-print">
        <button type="submit" class="btn btn-danger" (click)="delete(rowData['id'])">
          {{ 'delete' | translate }}
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
