<p-tabView *ngIf="'masterData' | translate">
  <p-tabPanel [header]="'masterData' | translate" rightIcon="pi pi-id-card">
    <app-master-data></app-master-data>
  </p-tabPanel>
  <p-tabPanel [header]="'recordOfProcessingActivities' | translate" rightIcon="pi pi-folder">
    <app-processing-activities></app-processing-activities>
  </p-tabPanel>
  <p-tabPanel [header]="'technicalAndOrganisationalMeasures' | translate" rightIcon="pi pi-briefcase">
    <app-measures></app-measures>
  </p-tabPanel>
  <p-tabPanel [header]="'dataImportExport' | translate" rightIcon="pi pi-file">
    <app-data-import-export></app-data-import-export>
  </p-tabPanel>
</p-tabView>
