<header>
  <div class="container-fluid">
    <div class="row">
      <a id="top"></a>
      <div class="col-sm-12">
        <h1>
          <span *ngIf="!masterData">GDPR Transparency</span>
          <span *ngIf="masterData">{{ masterData.company }}</span>
        </h1>
      </div>
    </div>
  </div>
</header>
<hr>
<div class="container-fluid">
  <p-toast></p-toast>
  <p-confirmDialog #confirmDialog header="{{ 'confirmation' | translate }}" icon="pi pi-exclamation-triangle">
    <p-footer>
      <button type="button" pButton icon="pi pi-check" label="{{ 'yes' | translate }}" (click)="confirmDialog.accept()"></button>
      <button type="button" pButton icon="pi pi-times" label="{{ 'no' | translate }}" (click)="confirmDialog.reject()"></button>
    </p-footer>
  </p-confirmDialog>
  <router-outlet></router-outlet>
</div>
<hr>
<footer>
  <div class="container-fluid do-not-print">
    <div class="row">
      <div class="col-sm-12">
        &copy; <a href="https://bjoernkw.com" title="Björn Wilmsmann">Björn Wilmsmann</a>
        {{ currentYear }} | <a href="https://github.com/BjoernKW/gdpr-transparency" title="GdprTransparency"><em>GDPR
        Transparency</em> GitHub repository</a>
      </div>
    </div>
  </div>
</footer>
