<header>
  <div class="container-fluid">
    <div class="row">
      <a name="top"></a>
      <div class="col-sm-12">
        <h1>GdprTransparency</h1>
      </div>
    </div>
  </div>
</header>
<hr>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<hr>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        &copy; <a href="https://bjoernkw.com" title="Björn Wilmsman">Björn Wilmsmann</a>
        {{ currentYear }} | <a href="https://github.com/BjoernKW/gdpr-transparency" title="GdprTransparency"><em>GdprTransparency</em> GitHub repository</a>
      </div>
    </div>
  </div>
</footer>
