/* You can add global styles to this file, and also import other style files */
.print {
  display: none;
}

@media print {
  .do-not-print {
    display: none;
  }
  .print {
    display: block;
  }
}
