/* You can add global styles to this file, and also import other style files */

a {
  color: #bc0404;
}

.print {
  display: none;
}

@media print {
  .do-not-print {
    display: none;
  }
  .print {
    display: block;
  }
}
